:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-green {
  background: #49d0b0;
}
.bg-red {
  background: #fa6d6b;
}
.bg-blue {
  background: #76befe;
}
.bg-yellow {
  background: #ffd76f;
}
.bg-brown {
  background: #544726c8;
}
.bg-purple {
  background: #9a6fff;
}
.bg-black {
  background: #111;
}
.bg-pink {
  background: #fc6cb4;
}
.bg-gray {
  background: #d3d3d3;
}
.bg-white {
  background: #fff;
}
.bg-all {
  background: #999;
}
//?POR TIPOS
.color-fire {
  background-color: #ff7402;
}
.color-grass {
  background-color: #1eff00;
}
.color-steel {
  background-color: #9eb7b8;
}
.color-water {
  background-color: #4592c4;
}
.color-psychic {
  background-color: #f366b9;
}
.color-ground {
  background-color: #ab9842;
}
.color-ice {
  background-color: #9de8ff;
}
.color-flying {
  background-color: #3dc7ef;
}
.color-ghost {
  background-color: #2f005c;
}
.color-normal {
  background-color: #cbf1ff;
}
.color-poison {
  background-color: #5a007e;
}
.color-rock {
  background-color: #755a0e;
}
.color-fighting {
  background-color: #d1321c;
}
.color-dark {
  background-color: #1f1f1f;
}
.color-bug {
  background-color: #c8ff6f;
}
.color-dragon {
    background: linear-gradient(to bottom right, #3800b9, pink);
}
.color-electric {
  background-color: #eed91e;
}
.color-fairy {
  background-color: #fdb9e9;
}
.color-shadow {
  background-color: #7b62a3;
}
.color-unknow {
  background-color: #757575;
}
